.menu{
    background-color: hsl(263, 81%, 29%);
    width: 17%;
    padding: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    
}

.menu a{
    text-decoration: none;
    color: white;
}

h4{
    color: white;

}

.sessao1{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-top: 1%;
}

.sessao2 {
    font-weight: bold;
    display: flex;
    flex-direction: column;

}